<h1>
  Criar Post
</h1>
<form action="/posts" method="POST">
  <input type="text" name="title" placeholder="Título" />
  <textarea name="content" placeholder="Conteúdo"></textarea>
  <button type="submit">
    Criar
  </button>
</form>